*{
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
header{
    background-image: linear-gradient(rgba(20, 20, 0,0.69),rgba(20, 20, 20,0.69)),url(https://c1.wallpaperflare.com/preview/272/995/705/coffee-desk-notepad-pen.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
.tagline{
    background-color: transparent;
}
pre{
    color: rgb(247, 254, 252);
    font-size: 20px;
    margin-top: 60px;
    text-align: left;
    overflow: hidden;
}
section.s1{
    background-color: rgba(156, 156, 156, 0.554);
}
.cContent{
    display: flex;
}
.title{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: 100px;
    font-style: italic;
}
.content{
    overflow-y: scroll;
    height: 500px;
}
pre.pContent{
    color: rgb(76, 76, 76);
}