*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div.containerL{
    display: flex;
    flex: 1;
    background: url(https://images.saymedia-content.com/.image/t_share/MTkwMTgxMTYzMTQxMjQ0MTg1/how-to-analyse-a-poem-for-exams-or-pleasure.jpg);
    background-size: cover;
    height: 100vh;
}
#lTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 60px;
    color: aliceblue;
}
#lContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
h2{
    text-align: center;
    font-size: 40px;
    color: rgba(240, 255, 255, 0.757);
    border-bottom: 1px solid ;

}
input{
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    padding: 10px;
    width: 300px;
}
input::placeholder{
    color: aliceblue;
}
.a{
    margin: 10px;
}